<footer class="page-footer text-center font-small mt-4 wow fadeIn">
<style>


.grid-container {
  display: grid;
  height: auto;
  grid-template-columns:  1fr 1fr 1fr;
  padding: 10px;
  padding-left: 20%;
  padding-right: 20%;
}
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


</style>
<div class="grid-container">

      <div class="grid-item">
        <h3>About</h3>
        <ul>
            <li>About Us</li>
            <br>
            <li>Gifts</li>
            <br>
            <li>FAQ</li>
            <br>
            <li>Store Finder</li>
        </ul>
      </div>
      <div class="grid-item">
        <h3>Get in touch</h3>
        <ul>
            <li>Support</li>
               <br>
            <li>Accessiblity</li>
               <br>
            <li>Returns</li>
               <br>
            <li>General</li>
        </ul>
      </div>
      <div class="grid-item">
        <h3>Partner with us</h3>
        <ul>
          <li>For Business</li>
             <br>
          <li>Retailers</li>
             <br>
          <li>Brands</li>
        </ul>
      </div>
</div>
          <hr class="my-4">

<div>
     <label align="center">Privacy Policy | Terms of Service | Interest Based Ads |Privacy Rights</label>
</div>
      <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    Happy Hours
  </div>
  <!--/.Copyright-->

</footer>