{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

                <img src="{{ item.image.url }} " class="card-img-top" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
                <h1 class=" font-weight-bold">{{ object.title }}</h1>
              <a href="">

                <span class="badge purple mr-1">{{ object.get_category_display }}</span>

              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del class="font-weight-bolder">${{ object.price }}</del>
              </span>
              <span class="font-weight-bolder">${{ object.discount_price }}</span>
              {% else %}
              <span class="font-weight-bolder">${{ object.price }}</span>
              {% endif %}
            </p>



              <br/>
    <label class="lead font-weight-bold"> Select your sizes</label>
          <ul class="list-group list-group-horizontal-lg"  >
              <button type="button" class="btn btn-light" >{{ object.get_sizes_display }}</button>
              <button type="button" class="btn btn-light">1L</button>
              <button type="button" class="btn btn-light">1.7L</button>
              <button type="button" class="btn btn-light">2.2L</button>



          </ul>


          <br/>
                <label class="lead font-weight-bold">Reviews</label>
          <div>
<style>
.checked {
  color: orange;
}
</style>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
                &nbsp;&nbsp;

              <label class="lead font-weight-bolder">4.0 <sup>(3 Reviews)</sup></label>
          </div>
          <br/>

          <!--Grid row-->
  <p class="lead font-weight-bold">Description</p>

            <p style="text-align: justify">{{ object.description }}</p>
      <!--Grid row-->





            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
{#            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">#}
{#              Remove from cart#}
{#            </a>#}

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>


            <h4 class="my-4 h4">Product Details</h4>


          <table class="table">

  <tbody>
    <tr>
      <td>Category</td>
      <td>{{object.get_category_display}}</td>
    </tr>
    <tr>
      <td>Region</td>
      <td>{{ object.get_region_display }} </td>
    </tr>
    <tr>
      <td>Abv</td>
      <td>{{ object.get_abv_display }}</td>
    </tr>
  <tr>
      <td>Features</td>
      <td> {{ object.features }}</td>
    </tr>
  <tr>
      <td>Food Pairing</td>
      <td>{{ object.tasting }}</td>
    </tr>
  </tbody>
</table>

        </div>
        <!--Grid column-->

      </div>

    <Br/>

{% include "slideshow.html" %}




<br/>
    <br/>
    <br/>


    </div>

  </main>
<!--/.Carousel Wrapper-->
{% endblock content %}
